/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: url('http://4.bp.blogspot.com/-A2y7KgeGbl8/T1crSVjwKPI/AAAAAAAAaj8/BmFrNIfdqRk/s1600/Best-top-desktop-coffee-wallpapers-hd-coffee-wallpaper-pictures-backgrounds-05.jpg');
  background-size: cover;
  font-family: 'Poiret One', cursive;
}

h1 {
  text-align: center;
}

span {
  font-size: 20px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.header {
  background-color: white;
  border-radius: 10px;
  color: rgb(92,42,16);
  margin: 0 auto;
  margin-top: 50px;
  opacity: .85;
  padding: 15px;
  width: 300px;
}

.search-results {
  margin: 0 auto;
  width: 600px;
}

#results {
  padding-left: 0px;
}

#results li {
  background-color: white;
  border-radius: 10px;
  color: rgb(92,42,16);
  margin: 10px;
  opacity: .85;
  padding: 13px;
  text-align: center;
}

#results li a {
  color: rgb(92,42,16);
}

#search {
  text-align: center;
}
